
body {
  text-align: center;
  background: #2f3238;
  font-family: 'proxima_novalight', Arial, sans-serif;
}
.container {
  background: rgba(0, 0, 0, 0) url(../img/bg.png) repeat 0 0;
  marign: 0 auto;
  width: 1280px;
  overflow: hidden;
  position: relative;
}
header,
.main,
footer {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.main {
  overflow: visible;
  min-height: 2500px;
  width: 960px;
  background: #23262c url(../img/bg.png) repeat 0 0;
}

.caption {
  position: absolute;
  left: -7777777px;
  top: 0;
}
ol,
ul {
  margin-bottom: 0;
}
header {
  position: relative;
  z-index: 9999;
  /*padding-left: 160px;
	padding-right: 160px; */

}

.carrouselWrapper {
  position: relative;
  z-index: 1;
}
.carrouselWrapper .fn-carrousel {
  display: none;
}
.carrouselWrapper .fn-carrousel article > div {
  opacity: 0;
  filter: alpha(opacity = 0);
  height: 0;
}
.carrouselWrapper .carrousel_nav {
  margin-left: 0;
  margin-right: 0;
  padding-top: 25px;
  margin-top: 0px;
  height: 11px;
  padding-bottom: 40px;
  background: transparent url(../img/bg.png) repeat 0 0;
  position: relative;
  z-index: 10;
  margin-bottom: 0;
}
.carrouselWrapper .carrousel_nav li {
  list-style: none;
  width: 23px;
  height: 11px;
  display: block;
  float: left;
}
.carrouselWrapper .carrousel_nav li a {
  display: block;
  float: left;
  margin-right: 10px;
  width: 11px;
  height: 11px;
  text-indent: -555000px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #4f4f4f;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.carrouselWrapper .carrousel_nav li a:hover,
.carrouselWrapper .carrousel_nav li a:focus {
  background-color: #fff;
}
.carrouselWrapper .carrousel_nav li.activeSlide a {
  background-color: #fea163;
}
.carrouselWrapper .carrousel_msg {
  z-index: 11;
  position: absolute;
  right: 0;
  margin-bottom: 0;
  bottom: 35px;
  color: #a1a1a1;
}
.carrouselWrapper .carrousel {
  position: relative;
  width: 960px;
  left: -160px;
}
.carrouselWrapper .carrousel article {
  width: 1280px;
  height: 605px;
  text-align: center;
}
.cache {
  position: absolute;
  top: 0px;
  width: 160px;
  height: 100%;
  background: transparent url(../img/bg.png) repeat 0 0;
  z-index: 10;
  zoom: 1;
  *display: none;
}
.cache-left {
  margin-left: 0;
}
.cache-right {
  margin-left: 1120px;
}
.content {
  margin-left: 0;
  margin-right: 0;
  width: 960px;
  position: relative;
  *overflow: hidden;
}

#portfolio {
  height: 593px;
}

#portfolio2 {
  height: 593px;
}

.portfolioListing {
  padding-bottom: 50px;
  position: relative;
  *float: left;
  *zoom: 1;
  margin-top:20px;
  margin-bottom:20px;
}
.portfolioListing nav {
  display: block;
  float: left;
  width: 215px;
  *width: 213px;
  *overflow: hidden;
}
.portfolioListing nav span.title {
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
  margin-top: 1px;
}
.portfolioListing nav ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.portfolioListing nav ul li {
  margin-left: 0;
  padding: 0;
  margin-bottom: 20px;
}
.portfolioListing nav ul li a {
  color: #4f4f4f;
  cursor: pointer;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.portfolioListing nav ul li a:hover {
  text-decoration: none;
  color: #fff;
}
.portfolioListing nav ul li a.active {
  color: rgba(254, 161, 99, 0.8);
}
.portfolioListing.fn-portfolioListing-show-overlay .portfolioCarrousel {
  height: 558px !important;
  background: url('../img/portfolio-checker-pattern.png') 0 0 no-repeat transparent;
}
.portfolioListing.fn-portfolioListing-show-after .portfolioCarrousel {
  height: 372px;
  background: url('../img/studio-checker-pattern.png') 0 0 no-repeat transparent;
  *zoom: 1;
}
.portfolioListing .portfolioListing-after {
  width: 745px;
  margin-left: 215px;
  clear: both;
  position: relative;
  margin-top: 20px;
}
.portfolioListing .portfolioListing-after .title {
  font-size: 20px;
  color: #fff;
}
.portfolioListing .portfolioListing-after .details {
  font-size: 14px;
  line-height: 18px;
  color: #979797;
}
.portfolioListing .portfolioCarrousel {
  overflow: hidden;
  z-index: 50;
  width: 745px;
  display: block;
  float: left;
  height: 558px;
}
.portfolioListing .portfolioCarrousel article {
  display: block;
  list-style: none;
  float: left;
  height: 186px;
  width: 248px;
  position: relative;
}
.portfolioListing .portfolioCarrousel article img {
  width: 248px;
  height: 186px;
}
.portfolioListing .portfolioCarrousel article .preview {
  width: 248px;
  height: 186px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(254, 161, 99, 0.8);
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.portfolioListing .portfolioCarrousel article:hover .preview,
.portfolioListing .portfolioCarrousel article.active .preview {
  opacity: 1;
  filter: alpha(opacity=100);
}
.portfolioListing .portfolioCarrousel article .projectContent {
  display: none;
}
.portfolioListing .portfolioCarrousel_nav_wrapper {
  width: 745px;
  margin-left: 215px;
  clear: both;
  text-align: center;
  position: relative;
}
.portfolioListing .portfolioCarrousel_nav_wrapper .portfolioCarrousel_nav {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  height: 15px;
  position: relative;
  margin-bottom: 0;
  text-align: center;
  width: 300px;
}
.portfolioListing .portfolioCarrousel_nav_wrapper .portfolioCarrousel_nav li {
  list-style: none;
  width: 11px;
  height: 11px;
  margin-right: 10px;
  display: inline-block;
  *display: block;
  *float: left;
}
.portfolioListing .portfolioCarrousel_nav_wrapper .portfolioCarrousel_nav li a,
.portfolioListing .portfolioCarrousel_nav_wrapper .portfolioCarrousel_nav li span {
  display: block;
  width: 11px;
  height: 11px;
  text-indent: -555000px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.portfolioListing .portfolioCarrousel_nav_wrapper .portfolioCarrousel_nav li a {
  background-color: #4f4f4f;
}
.portfolioListing .portfolioCarrousel_nav_wrapper .portfolioCarrousel_nav li a:hover,
.portfolioListing .portfolioCarrousel_nav_wrapper .portfolioCarrousel_nav li a:focus {
  background-color: #fff;
}
.portfolioListing .portfolioCarrousel_nav_wrapper .portfolioCarrousel_nav li span {
  background-color: #fea163;
}
.portfolioListing .portfolioCarrousel_nav_wrapper .carrousel_prev {
  height: 25px;
  width: 25px;
  display: block;
  position: absolute;
  left: 0;
  top: 13px;
  background: transparent url(../img/arrows.png) no-repeat -4px 0;
  text-indent: -555000px;
  cursor: pointer;
}
.portfolioListing .portfolioCarrousel_nav_wrapper .carrousel_prev span.hover {
  opacity: 0;
  filter: alpha(opacity=0);
  height: 25px;
  width: 25px;
  display: block;
  background: transparent url(../img/arrows.png) no-repeat -4px -29px;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.portfolioListing .portfolioCarrousel_nav_wrapper .carrousel_prev:hover span.hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.portfolioListing .portfolioCarrousel_nav_wrapper .carrousel_next {
  height: 25px;
  width: 25px;
  display: block;
  position: absolute;
  right: 0;
  top: 13px;
  background: transparent url(../img/arrows.png) no-repeat -43px 0;
  text-indent: -555000px;
  cursor: pointer;
}
.portfolioListing .portfolioCarrousel_nav_wrapper .carrousel_next span.hover {
  opacity: 0;
  filter: alpha(opacity=0);
  height: 25px;
  width: 25px;
  display: block;
  background: transparent url(../img/arrows.png) no-repeat -43px -29px;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.portfolioListing .portfolioCarrousel_nav_wrapper .carrousel_next:hover span.hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.hidden {
  display: none;
}

@media screen and (max-width: 1279px) {
  .container {
    width: 100%;
  }
  .main {
    width: 100%  ;
    overflow: hidden;
  }
  .carrouselWrapper .carrousel {
    left: 0;
  }
  .carrouselWrapper .carrousel_msg {
    padding-right: 40px;
  }
  .carrouselWrapper .carrousel_nav {
    padding-left: 40px;
  }
  .content {
    width: 100%;
  }
 
  
  .cache-left,
  .cache-right {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  html,
  body {
    overflow: hidden;
  }
  #portfolio {
    width: 960px;
    margin: 0 auto;
  }
}
